@model Faktur.Web.Models.Email.SignUpModel

@using Faktur.Web.Resources
@using System.Globalization
@using System.Net

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="@CultureInfo.CurrentCulture" xml:lang="@CultureInfo.CurrentCulture">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <style type="text/css"></style>
</head>
<body>
  <p><strong>@Email.SignUp_Welcome.Replace("{name}", @Model?.Name)</strong></p>
  <p>
    @Email.SignUp_ClickLink
    <br />
    <a href="@Model?.Link">@Model?.Link</a>
  </p>
  <p>
    @Email.Cordially
    <br />
    <i>@Email.FakturTeam</i>
  </p>
</body>
</html>
